#prezimeLabela {
    -fx-background-color: red;
}

.crvenaKlasa {
    -fx-background-image: url("/img/button.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

Button {
    -fx-background-color: greenyellow;
    -fx-graphic: url("/img/button.jpg");
}


